body {
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 50px;
  background: #212121;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

p {
  font-size: 1.5rem;
  line-height: 25px;
}

a {
  margin-top: 24px;
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 12px;
  background: #4564c0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}